<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="voucher-edit">
      <div class="template-screen3">
        <div class="fader13"></div>
        <div class="fader23"></div>
        <img class="menu-icon3" alt="" src="./public/menu.svg" />
      </div>
      <b class="thc-n1">Mã giảm giá</b>
      <div class="menu2">
        <div class="menu-inner"></div>
        <div class="rectangle-parent">
          <div class="group-child"></div>
          <div class="giam50-gim-50-container">
            <p class="blank-line">GIAM50</p>
            <p class="blank-line">&nbsp;</p>
            <p class="blank-line">Giảm 50% tổng hoá đơn</p>
          </div>
        </div>
      </div>
      <div class="detail-edit1">
        <div class="detail-edit-item"></div>
        <div class="input3">
          <div class="tn-m">Tên mã</div>
          <input type = "string" class="input-child5" placeholder="" >
        </div>
        <div class="input4">
          <div class="tn-m">Mã giảm giá</div>
          <input type = "string" class="input-child5" placeholder="" >
        </div>
        <div class="input5">
          <div class="tn-m">Giảm giá</div>
          <input type = "string" class="input-child5" placeholder="" >
          <select class="input-child6">
            <option>Danh sách 01</option>
            <option>Danh sách 02</option>
            <option>Danh sách 03</option>
            <option>Danh sách 04</option>
            </select>
          
        </div>
      </div>
      <div class="save-change1">
        <button class="btn btn-primary">Lưu sửa đổi</button>
      </div>
      <div class="add-new-item1">
        <button class="btn btn-primary">+ Thêm mã mới</button>
      </div>
      <div class="cancel-changes">
        <button class="btn btn-warning">Xoá mã giảm giá</button>
      </div>
    </div>
  </body>
</html>
