<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ data.isEdit ? 'Sửa bàn' : 'Thêm bàn' }}</h5>
        <button type="button" class="close" aria-label="Close" (click)="onCancel()">
          <span aria-hidden="true">&times;</span>
        </button> 
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="description">Tên bàn</label>
            <input type="text" id="description" class="form-control" *[(ngModel)]="table.description">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onCancel()">Hủy</button>
        <button type="button" class="btn btn-primary" (click)="saveTable()">{{ data.isEdit ? 'Lưu' : 'Thêm' }}</button>
      </div>
    </div>
  </div>
</div>
