<div class="detailed-receipt">
  <div class="payment">
    <button class="thanh-ton">Thanh toán</button>
  </div>
  <div class="rectangle-div">
    <table>
      <th>Tên món</th>
      <th>Số lượng</th>
      <th>Giá tiền</th>
      @for (OrderItem of OrderItems;track OrderItems) {
      <tbody>
        <tr>
          <td>{{ OrderItem.menu_item_id }}</td>
          <td>{{ OrderItem.quantity }}</td>
          <td>{{ OrderItem.price }} VND</td>
        </tr>
      </tbody>
      }
    </table>
  </div>
  <h2>Bàn {{ this.display_name }}</h2>
  <div class="menu">
    <div class="menu-child">
      <div class="component-1">
        @for ( MenuItem of MenuItems; track $index) {
        <div class="m-xo-b-47500-container">
          <p class="vnd">{{ MenuItem.name }}</p>
          <p class="vnd">{{ MenuItem.price }} VND</p>
          <button class="btn">+</button>
        </div>
        }
      </div>
    </div>
  </div>
</div>
<div class="tng-tin-47500-container">
  <p class="text">Tổng tiền</p>
  <p class="vnd6">{{ totalOrderPrice }} VND</p>
</div>

<div style="height: 124px"></div>

<footer>
  <button class="btn btn-danger px-5 py-4 fw-bold" (click)="deleteTable()">
    Xoá bàn
  </button>

  <button class="btn btn-secondary px-5 py-4 fw-bold" (click)="open(content)">
    Sửa tên bàn
  </button>
</footer>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Sửa thông tin</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('cancelled')"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<label for="name">Tên bàn</label>
				<div class="input-group">
          <input type="text" name="name" id="name" class="form-control" [(ngModel)]="name" />
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" (click)="modal.close('saved')">Save</button>
	</div>
</ng-template>